<div data-page="barthelIndexNormal" class="page navbar-fixed toolbar-fixed cached barthelIndexNormal">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <div class="left">
                    <a href="#" class="link" data-bind="click: $root.barthelNormal.back">
                        <i class="icon icon-back"></i>
                        <span data-bind="text: $root.lang().back"></span>
                    </a>
                </div>

            </div>
            <div class="center" data-bind="text: $root.lang().barthelIndexNormal.title"></div>
            <div class="right">
                <a href="#" class="link icon-only open-panel">
                    <i class="icon icon-bars"></i>
                </a>

            </div>
        </div>
    </div>

    <div class="page-content">

        <div class="swiper-custom">
            <div class="swiper-container">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <!-- ko foreach: $root.lang().barthelIndexNormal.questions -->
                    <div class="swiper-slide testSlide">
                        <div class="testQuestion" data-bind="html: question"></div>
                        <div class="tiCardsContainer testAnswers" data-bind="foreach: answers">
                            <a href="#" class="tiCard" data-bind="attr: { style: 'background-color:' + backgroundColor }, click: $root.barthelNormal.selectAnswer($index())">
                                <p data-bind="text: ($index() + 1) + ')' + text"></p>
                            </a>
                        </div>
                        <a href="#" class="tiCard testGoNext" style="background-color:#9E9E9E;" data-bind="click: $root.barthelNormal.goNext()">
                            <p data-bind="text: $root.lang().barthelIndexNormal.goNext"></p>
                        </a>
                    </div>
                    <!-- /ko -->
                    <div class="swiper-slide testSlide">
                        <div class="testQuestion" data-bind="text: $root.lang().barthelIndexNormal.thankYou"></div>
                        <div class="tiCardsContainer">
                            <a href="#mainScreen" class="tiCard" style="background-color:#85144b;">
                                <p data-bind="text: $root.lang().barthelIndexNormal.goHome"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toolbar">
        <div class="toolbar-inner">
            <a href="#" class="link"></a>
            <a href="#" data-popupxx=".popup-callHelp" class="link open-popupxx callHelpBtn" data-bind="text: $root.lang().toolbar.callHelp"></a>
            <a href="#" class="link"></a>
        </div>
    </div>

</div>