<div data-page="mainScreen" class="page navbar-fixed toolbar-fixed">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"></div>
            <div class="center" data-bind="text: $root.lang().mainScreen.title"></div>
            <div class="right">
                <a href="#" class="link icon-only open-panel">
                    <i class="icon icon-bars"></i>
                </a>

            </div>
        </div>
    </div>

    <div class="page-content">

        <div class="tiCardsContainer">

            <a href="#barthelIndexNormal" class="tiCard" style="background-color:#0074D9;">
                <p data-bind="text: $root.lang().mainScreen.barthelIndexNormalCard"></p>
            </a>

            <a href="#mmse" class="tiCard" style="background-color:#3D9970;">
                <p data-bind="text: $root.lang().mainScreen.mmseTestNormalCard"></p>
            </a>

            <a href="#" class="tiCard" style="background-color:#FF851B;">
                <p data-bind="text: $root.lang().mainScreen.testSeq1NormalCard"></p>
            </a>

        </div>
    </div>

    <div class="toolbar">
        <div class="toolbar-inner">
            <a href="#" class="link"></a>
            <a href="#" data-popupxx=".popup-callHelp" class="link open-popupxx callHelpBtn" data-bind="text: $root.lang().toolbar.callHelp"></a>
            <a href="#" class="link"></a>
        </div>
    </div>

</div>