<div data-page="mmseDoctor" class="page navbar-fixed toolbar-fixed cached mmseDoctor" data-bind="applyWhen: $root.mmseDoctor.task">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <div class="left">
                    <a href="#" class="link" data-bind="click: $root.mmse.back">
                        <i class="icon icon-back"></i>
                        <span data-bind="text: $root.lang().back"></span>
                    </a>
                </div>

            </div>
            <div class="center" data-bind="text: $root.lang().mmseDoctor.title"></div>
            <div class="right">
                <a href="#" class="link icon-only open-panel">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">

        <div class="content-block-title" data-bind="text: $root.lang().mmseDoctor.question"></div>
        <div class="content-block">
            <div style="font-size: 17px;" class="content-block-inner" data-bind="text: $root.mmseDoctor.task().question"></div>
        </div>

        <div class="content-block-title" data-bind="text: $root.lang().mmseDoctor.answer"></div>
        <div class="content-block">
            <div style="font-size: 17px;" class="content-block-inner" data-bind="text: $root.mmseDoctor.task().answer"></div>
        </div>

        <div class="content-block-title" data-bind="text: $root.lang().mmseDoctor.points"></div>
        <div class="list-block">
            <ul data-bind="foreach: $root.mmseDoctor.task().points">
                <li>
                    <label class="label-radio item-content">
                        <input type="radio" name="points" data-bind="value: value, event: { change: function () { $root.mmseDoctor.onPointChange(this); } }">
                        <div class="item-inner">
                        <div class="item-title" data-bind="text: text"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>

    </div>

    <div class="toolbar">
        <div class="toolbar-inner">
            <div class="left">
                <div class="left">
                    <a href="#" class="link" data-bind="click: $root.mmseDoctor.previousTask">
                        <i class="icon icon-back"></i>
                        <span data-bind="text: $root.lang().mmseDoctor.previousTask"></span>
                    </a>
                </div>
            </div>
            <div class="center"></div>
            <div class="right">
                <a href="#" class="link" data-bind="click: $root.mmseDoctor.nextTask">
                    <span data-bind="text: $root.lang().mmseDoctor.nextTask"></span>
                    <i class="icon icon-forward"></i>
                </a>
            </div>
        </div>
    </div>
</div>

</div>