<div data-page="mmse" class="page navbar-fixed toolbar-fixed cached mmse">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <div class="left">
                    <a href="#" class="link" data-bind="click: $root.mmse.back">
                        <i class="icon icon-back"></i>
                        <span data-bind="text: $root.lang().back"></span>
                    </a>
                </div>

            </div>
            <div class="center" data-bind="text: $root.lang().mmse.title"></div>
            <div class="right">
                <a href="#" class="link icon-only open-panel">
                    <i class="icon icon-bars"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content">

        <div class="swiper-custom">
            <div class="swiper-container">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <!-- ko foreach: $root.lang().mmse.questions -->
                    <div class="swiper-slide testSlide">
                        <div class="questionMMSE" data-bind="html: title"></div>
                        <div class="answersMMSE"></div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>

    <div class="toolbar">
        <div class="toolbar-inner">
            <a href="#" class="link"></a>
            <a href="#" data-popupxx=".popup-callHelp" class="link open-popupxx callHelpBtn" data-bind="text: $root.lang().toolbar.callHelp"></a>
            <a href="#" class="link"></a>
        </div>
    </div>

</div>

<div id="mmseNameObjects" style="display: none;">
    <div style="padding-top: 20px;">
        <img src="./pencil.jpg" alt="">
        <img src="./watch.jpg" alt="">
    </div>
</div>

<div id="mmseReadAndObey" style="display: none;">
    <div class="testQuestion" style="padding-top: 40px; color: red; font-weight: bold; font-size: 100px;">
        CLOSE YOUR EYES
    </div>
</div>