<div class="popup popup-callHelp">
    <div class="content-block">
        <div class="testQuestion" data-bind="text: $root.lang().callHelp.areYouSure"></div>
        <div class="tiCardsContainer">
            <a href="#" class="tiCard callHelpCard" style="background-color:#85144b;" data-bind="click: $root.callHelp">
                <p data-bind="text: $root.lang().callHelp.yes"></p>
            </a>
            <a href="#" class="tiCard callHelpCard close-popup" style="background-color:#3D9970;">
                <p data-bind="text: $root.lang().callHelp.no"></p>
            </a>
        </div>
    </div>
</div>

<div class="popup popup-helpCalled">
    <div class="content-block">
        <div class="testQuestion" data-bind="text: $root.lang().callHelp.helpCalled"></div>
        <div class="tiCardsContainer">
            <a href="#" class="tiCard helpCalledCard close-popup" style="background-color:#3D9970;">
                <p data-bind="text: $root.lang().callHelp.closeWindow"></p>
            </a>
        </div>
    </div>
</div>

<div class="popup popup-ChooseOption">
    <div class="content-block">
        <div class="testQuestion" data-bind="text: $root.lang().chooseOption"></div>
    </div>
</div>

<div class="popup popup-mmseDoctorFinished">
    <div class="content-block">
        <div class="testQuestion" data-bind="text: $root.mmseDoctor.totalPoints"></div>
        <div class="tiCardsContainer">
            <a href="#" class="tiCard close-popup" style="background-color:#85144b;">
                <p data-bind="text: $root.lang().mmseDoctor.close"></p>
            </a>
        </div>
    </div>
</div>