<div class="panel panel-right panel-cover">
    <div class="list-block">
        <div class="list-group">
            <ul>

                <li class="accordion-item">
                    <a class="item-content item-link" href="#">
                        <div class="item-media"><i class="icon fa fa-language"></i></div>
                        <div class="item-inner">
                            <div class="item-title" data-bind="text: $root.lang().rightPanel.lang"></div>
                        </div>
                    </a>
                    <div class="accordion-item-content">
                        <div class="list-block">
                            <div class="list-group">
                                <ul data-bind="foreach: langList">
                                    <li>
                                        <a class="item-content close-panel item-link" href="#" data-bind="click: function () { $root.langID(id); }">
                                            <div class="item-inner">
                                                <div class="item-title" data-bind="text: name"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="accordion-item">
                    <a class="item-content item-link" href="#">
                        <div class="item-media"><i class="icon fa fa-paint-brush"></i></div>
                        <div class="item-inner">
                            <div class="item-title" data-bind="text: $root.lang().rightPanel.colorScheme"></div>
                        </div>
                    </a>
                    <div class="accordion-item-content">
                        <div class="list-block">
                            <div class="list-group">
                                <ul>
                                    <li>
                                        <a class="item-content close-panel item-link" href="#" data-bind="click: $root.addTheme('')">
                                            <div class="item-inner">
                                                <div class="item-title" data-bind="text: $root.lang().rightPanel.colorSchemeDefault"></div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="item-content close-panel item-link" href="#" data-bind="click: $root.addTheme('layout-dark theme-yellow')">
                                            <div class="item-inner">
                                                <div class="item-title" data-bind="text: $root.lang().rightPanel.colorSchemeDark"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="#mmseDoctor" class="item-link item-content close-panel">
                        <div class="item-media"><i class="icon fa fa-medkit"></i></div>
                        <div class="item-inner">
                            <div class="item-title" data-bind="text: $root.lang().rightPanel.mmseDoctor"></div>
                        </div>
                    </a>
                </li>

            </ul>


        </div>
    </div>

</div>