<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Arnica App</title>
    <link rel="stylesheet" type="text/css" href="./vendor.css" />
    <link rel="stylesheet" type="text/css" href="./app.css" />
    <script type="text/javascript" src="./vendor.js"></script>
    <script src="https://cdn.pubnub.com/pubnub-3.15.2.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>

    {{> rightMenu}}

    <div class="views">
        <div class="view view-main">
            <div class="pages toolbar-through">

                {{> mainSreen}}
                <!------->
                {{> barthelIndexNormal}}
                <!------->
                {{> mmse}}
                <!------->
                {{> mmseDoctor}}
                <!------->

            </div>

        </div>
    </div>

    <div class="splashScreen"></div>

    {{> popups}}

    <div class="intro-overlay"></div>

</body>

</html>