em {
    color: #FF4136;
    font-style: normal;
}

.intro-overlay {
    position: absolute;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .7);
    border-radius: 10px;
    z-index: 999999;
    display: none;
    transition: width 1s, height 1s, left 1s, top 1s;
}

.tiCardsContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px;
   justify-content: center;
}

.tiCard {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: table;    
}

.tiCard.tiCardSelected {
    border: 2px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.tiCard p {
    margin: 0;
    text-align: center;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: white;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}

.panel-right {
    background: #EFEFF4;
    padding-left: 10px;
}

.panel-right ul {
    border-left: 1px solid #c8c7cc;
}

.swiper-custom {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 13px;
}

.swiper-container {
    height: 100%;
}

.swiper-slide {
    background: #fff;
}

.swiper-slide span {
    text-align: center;
    display: block;
    margin: 20px;
    font-size: 21px;
}

.testSlide {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testQuestion {
    text-align: center;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.testAnswers {
    margin-top: 20px;
}

.testAnswers .tiCard {
    width: 300px;
}

.testGoNext {
    margin-top: auto;
    margin-bottom: 50px;
    width: 940px;
    height: 100px;
}

.testQuestionMMSE {
    text-align: center;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: black;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
}

.testAnswersMMSE {
    display: none;
}

/*Framework 7*/

.toolbar {
    height: 56px !important;
    font-size: 22px !important;
}

.callHelpCard {
    width: 250px;
    height: 150px;
}

.callHelpBtn {
    color: #FF4136;
}

.helpCalledCard {
    width: 500px;
    height: 100px;
}